
.sidebar {
  width: 220px;
  background: #f8f9fa;
  border-right: 1px solid #ddd;
}

.dark-mode .sidebar {
  background: #222;
  color: white;
}

.dark-mode {
  background-color: #121212;
  color: white;
}
