body {
  overflow: hidden !important;
}

/* WRAPPER */
.layout {
  display: flex;
  height: 100vh;
  width: 100%;
}

/* SIDEBAR */
.sidebar {
  width: 240px;
  background: #e8f0f6;
  transition: width .3s;
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  overflow: hidden;
}

.sidebar.collapsed {
  width: 70px;
}

.sidebar .icon {
  padding: 15px;
  font-size: 22px;
  text-align: center;
  cursor: pointer;
}

/* RIGHT AREA */
.right-area {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* TOP NAVBAR */
.top-navbar {
  height: 70px;
  background: #ffffff;
  border-bottom: 2px solid #ed5e30 !important;
  display: flex;
  align-items: center;
  padding: 0 20px;
  flex-shrink: 0;
  z-index: 10;
}

/* SCROLLABLE CONTENT */
.content-area {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
  background: #ffff;
}
.Online{
  border-radius: 40%;
  color:black;
  border:1px soild rgb(147, 241, 147);
   background: rgb(164, 239, 164);
}
.Offline{
  border-radius: 40%;
  color:rgb(240, 236, 236);
  border:1px soild rgb(147, 241, 147);
  background: red;
}